In [1]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("svm_harm.anova.4.repaired.compare1.TF.AllVar.11172017.harm_bene.4fold.ROC.10times.master.V.sort.txt",  delimiter="\s+", header=None)

In [24]:
df.head()

  score    values
0   V11  0.002831
1   V11  0.003294
2   V11  0.004033
3   V11  0.004225
4   V11  0.004565

In [23]:
df.columns=['score','values']

In [27]:
rank=df.groupby(['score'], axis=0).mean().sort_values(['values'])

In [28]:
rank

         values
score
V24    0.000832
V21    0.001130
V16    0.001142
V22    0.001417
V18    0.001478
V26    0.001720
V32    0.001800
V33    0.002147
V13    0.003636
V27    0.004044
V11    0.004797
V19    0.005633
V12    0.006175
V20    0.007748
V15    0.052580
V8     0.058424
V5     0.065589
V7     0.066208
V3     0.073124
V14    0.079195
V9     0.079772
V4     0.151805
V6     0.152780

In [29]:
rank.sum()

values    0.823177
dtype: float64